.header {
  display: flex;
  justify-content: flex;
  align-items: center;
  background: #b82a2a;
  padding-left: 20px;
  gap: 10px;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

  h1 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: white;
  }

  .logo {
    width: 45px;
    height: auto;
  }

  body {
    margin: 0;
    padding: 0;
    background-image: url(Assets/phonewallpaperUILOGIN.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .form {
    background: white;
    padding: 20px 30px;
    width: 250px;
    border-radius: 5px;
    border: 5px solid #b82a2a;
    box-shadow: 0 0 0 10px white;
    font-family: arial;
    font-size: 12px;
  }

  .login label {
    display: block;
    margin-bottom: 5px;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
  }

  .login input[type="text"], .login input[type="email"], input[type="password"]  {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid black;
    box-shadow: 1px 1px 3px black;
  }

  .login input[type="checkbox"] {
    width: auto;
  }

  .login button {
    justify-content: center;
    display: flex;
    background-color: #b82a2a;
    color: white;
    padding: 10px 20px;
    width: 70%;
    margin: auto;
    border: none;
    border-radius: 5px;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
  }

  .login button:hover {
    background-color: #8b2020;
  }
@media (max-width: 600px) {
  h1{
    font-size: 17px;
  }
}